<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head'); %>
     <% let user; %>
          <script src="/js/users.js" defer></script>

          <body>
               <%- include('../../partials/header'); %>
                    <%- include('../includes/flashMessages'); %>
                         <div class="container d-flex justify-content-center flex-column">
                              <div class="row my-4">
                                   <div class="col fs-1"><i class="fas fa-user-friends"></i> users
                                        <a href="/auth/register"><button class="btn btn-primary btn-sm"><i
                                                       class="fas fa-plus"></i></button></a>

                                        <!-- <a href="/clearAll"><button class="btn btn-danger btn-sm"><i
                                        class="far fa-trash-alt"></i></button></a> -->

                                   </div>
                                   <div class="col-auto d-flex align-items-center">
                                        <!-- Search -->
                                        <section class="d-flex ms-3" role="search">
                                             <input data-search-user class="form-control me-2" type="search"
                                                  placeholder="Search" aria-label="Search">
                                        </section>
                                        <ul class="list-group list-group-horizontal mx-3">
                                             <li data-list data-bs-toggle="tooltip"
                                                  data-bs-custom-class="tooltip-default" data-bs-placement="bottom"
                                                  data-bs-title="Change Cards Layout"
                                                  class="list-group-item list-group-item-default">
                                                  <a data-layout-icon href="#"> <i class="fas fa-list-ul"></i></a>
                                             </li>
                                        </ul>

                                        <ul class="list-group list-group-horizontal">
                                             <li class="list-group-item list-group-item-default"><a href="#">Admins</a>
                                             </li>
                                             <li class="list-group-item list-group-item-default"><a
                                                       href="#">Developers</a>
                                             </li>
                                             <li class="list-group-item list-group-item-default"><a href="#">Editors</a>
                                             </li>
                                        </ul>
                                   </div>
                              </div>

                              <div class="row" user-cards-container>
                                   <% users.forEach( (user)=> { %>
                                        <div data-cards-container class="col-sm-4 mb-3">

                                             <div class="card">
                                                  <div class="card-body">
                                                       <div class="float-end action-buttons">
                                                            <button class="btn btn-default text-dark btn-sm mx-2"
                                                                 type="button" data-bs-toggle="modal"
                                                                 data-bs-target="#send-mail-modal"
                                                                 user-username="<%=user.username%>"
                                                                 user-id="<%=user._id%>" user-email="<%=user.email%>">
                                                                 <i class="fas fa-envelope"></i>
                                                            </button>
                                                            <div class="dropdown">
                                                                 <button
                                                                      class="btn btn-default text-dark btn-sm dropdown-toggle"
                                                                      type="button" data-bs-toggle="dropdown"
                                                                      aria-expanded="false">
                                                                      <i class="fas fa-ellipsis-h"></i>
                                                                 </button>
                                                                 <ul class="dropdown-menu">
                                                                      <li>

                                                                           <a class="dropdown-item" type="button"
                                                                                href="users/user/<%= user.username %>">
                                                                                <!-- <i class="fas fa-eye" aria-hidden="true"></i> -->
                                                                                View
                                                                           </a>

                                                                      </li>
                                                                      <li>

                                                                           <a class="dropdown-item" type="button"
                                                                                href="users/user/edit/<%= user.username %>">
                                                                                <!-- <i class="fas fa-pencil" aria-hidden="true"></i> -->
                                                                                Edit
                                                                           </a>
                                                                      </li>
                                                                      <li>
                                                                           <button data-delete-user-action
                                                                                class="dropdown-item btn-sm text-danger"
                                                                                type="button" id="<%= user.id %>">
                                                                                <!-- <i class="far fa-trash-alt" aria-hidden="true"></i>  -->
                                                                                Delete
                                                                           </button>
                                                                      </li>
                                                                 </ul>
                                                            </div>
                                                       </div>
                                                       <div class="mb-2"><span class="badge text-bg-default fw-normal" data-bs-toggle="tooltip"
                                                  data-bs-custom-class="tooltip-default" data-bs-placement="top"
                                                  data-bs-title="User username">#
                                                                 <%=user.username %>
                                                            </span>
                                                       </div>
                                                       <div class="d-flex align-items-center m-0">

                                                            <!-- Profile image -->
                                                            <!-- If user has no profile img get default img -->
                                                            <% let path %>
                                                                 <% if(user.avatar){
                                                                      path=`/uploads/${user.id}/${user.avatar}` 
                                                                 } else {
                                                                      path=`/images/noprofile.png` 
                                                                 } %>

                                                                      <div class="profile-image-cards me-3"><img
                                                                                src="<%=path %>" alt="" path>
                                                                      </div>

                                                                      <div>
                                                                           <%= user.firstName %>
                                                                                <%= user.lastName %>
                                                                                     <span class="fw-light">
                                                                                          <%= user.age %>
                                                                                               <br>
                                                                                               <%= user.email %>
                                                                                     </span>
                                                                      </div>
                                                       </div>
                                                       <span class="fw-light m-0">
                                                            <br>
                                                            <code><%= user.createAt %></code>
                                                       </span>
                                                       <div class="float-end"><span
                                                                 class="badge text-bg-default">Admin</span></div>
                                                  </div>
                                             </div>

                                        </div>
                                        <% }); %>

                                             <% if (!users.length) { %>
                                                  <h6 class="fw-light">No Users Found!</h6>
                                                  <% }%>
                              </div>
                         </div>

                         <%- include('../../partials/footer'); %>
                              <%- include('../includes/sendMailModal'); %>
          </body>

</html>